footer {
  display: flex;
  font: 14px/150% var(--font-family);
  gap: 24px;
  padding-block: 24px;
}

footer span:nth-child(1) {
  margin-right: auto;
}

@media (width < 768px) {
  footer {
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding-block: 16px;
    text-align: center;
  }

  footer span:nth-child(1) {
    width: 100%;
  }
}