header {
  font: var(--text-md);
  padding-block: 32px;
}

header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#profile {
 display: flex;
 gap: 32px;
}

#profile > div {
  max-width: 384px;
}

#profile img {
  border-radius: 50%;
  height: 176px;
  object-fit: cover;
  width: 176px;
}

#profile h1 {
  color: var(--text-color-primary);
  font: var(--heading);
  margin-bottom: 8px;
}

#info{
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  width: 280px;
}

#info li {
  align-items: center;
  display: flex;
  gap: 8px;
}

@media (width < 768px) {
  header .container, #profile {
    flex-direction: column;
  }

  header .container {
    padding-inline: 32px;
  }

  #profile {
    gap: 16px;
    margin-bottom: 32px;
    width: 100%;
  }
  
  #profile img {
    height: 120px;
    width: 120px;
  }

  #info {
    width: 100%;
  }
}

@media(768px <= width < 1024px) {
  #profile > div {
    max-width: 230px;
  }

  #info {
    max-width: 168px;
  }
}