nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  line-height: 0;
  padding-block: 20px;
}

nav ul {
  align-items: center;
  display: flex;
  gap: 24px;
  list-style: none;
  padding-block: 8px;
}

nav ul li:last-child img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}